* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    /* background: white; */
}

header {
    height: 100vh;
    position: relative;
    display: flex;
}

h3 {
    font-size: 30px;
    font-weight: 600;
}

.cover {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    object-fit: cover;
    object-position: top;
}

.cover-date {
    position: absolute;
    right: 5%;
    top: 7%;
    opacity: 0.7;
    color: white;
    font-size: 2em;
}


nav {
    background: rgba(0, 0, 0, 0.25);
    z-index: 2;
    width: 40%;
    height: 15%;
    color: #916356;
    
}

.nav-closed {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15%;
    width: 40%;
    position: absolute;

}

.nav-closed ul {
    display: flex;
    width: 50%;
    justify-content: space-around;
    list-style: none;
}

.nav-open {
    position: absolute;
    width: 40%;
    height: 80%;
    top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.menu h2 {
    font-size: 30px;
}

.menu ul li {
    padding-bottom: 10px;
}

.menu ul {
    list-style: none;
}

.nav-images {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.menu ul li a {
    text-decoration: none;
    color: #916356;
}

a, a:hover, a::before, a::after {
    color:  #916356;
    text-decoration: none;
}

.nav-images img {
    width: 75%
}

@media only screen and (max-width: 576px) {

    nav {
        width: 40%;
    }
    .nav-open {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.25);
    }
    .nav-closed {
        width: 100%;
    }
    .nav-button {
    text-align: right;   
 }
 .cover-date {
     text-align: right;
     margin-top: 20px;
     margin-right: 25px;
     font-size: 16px;
 }

 .menu ul li a {
     color: white;
 }
 .menu {
     color: white;
 }
 
}